{% extends 'base.html.twig' %}

{% block title %}Créer mon compte{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-start min-vh-100 pt-4">
    <div class="login-card card shadow p-4 w-100">

        <h1 class="h3 mb-3 font-weight-normal text-center">Créer un compte</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email, {
                attr: {'class': 'form-control'}
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password',
                attr: {'class': 'form-control'}
            }) }}

        <button class="btn btn-primary w-100" type="submit">Créer mon compte</button>

        {{ form_end(registrationForm) }}

        <div class="text-center mt-4">
            <p class="mb-2">Déjà un compte ?</p>
            <a class="btn btn-outline-primary w-100" href="{{ path('app_login') }}">Se connecter</a>
        </div>


    </div>
</div>
{% endblock %}
