{% extends 'base.html.twig' %}

{% block body %}
<div class="pokecontainer">

    <div class="banner">
        {% if prevPokemon %}
            <a class="nav-arrow left" href="{{ path('pokemon_show', { id: prevPokemon.id }) }}">
                <i class="fa-solid fa-angle-left"></i>
                {{ prevPokemon.name }} N°{{ '%04d'|format(prevPokemon.numero) }}
            </a>
        {% endif %}

        <div class="poketitle">
            <div class="card-title">{{ pokemon.name }}</div>
            <div class="num">N° {{ '%04d'|format(pokemon.numero) }}</div>
        </div>

        {% if nextPokemon %}
            <a class="nav-arrow right" href="{{ path('pokemon_show', { id: nextPokemon.id }) }}">
                {{ nextPokemon.name }} N°{{ '%04d'|format(nextPokemon.numero) }}
                <i class="fa-solid fa-angle-right"></i>
            </a>
        {% endif %}
    </div>

    <div class="pokeinfo">
        <img src="{{ asset('/images/pokemon/' ~pokemon.image) }}" alt="{{ pokemon.name }}" width="200">

        <div class="pokeDescription">{{ pokemon.description}}</div>
    </div>

    <div class="pokeDetails">
        <div class="pokecardInfo">
            <ul class="infoList">
                <li>
                    <span class="label">Taille</span>
                    <span class="value">{{ pokemon.size }} m</span>
                </li>
                <li>
                    <span class="label">Poids</span>
                    <span class="value">{{ pokemon.weight }} kg</span>
                </li>
                <li>
                    <span class="label">Catégorie</span>
                    <span class="value">{{ pokemon.category.name }}</span>
                </li>

                <li>
                    <span class="label">Talent</span>
                    <span class="value talents">
                        {% for talent in pokemon.talents %}
                            <span>{{ talent.name }}</span>
                        {% endfor %}
                    </span>
                </li>


                <li>
                    <span class="label">Sexe</span>
                    <span class="value genders">
                        {% for gender in pokemon.genders %}
                            <span>{{ gender.name }}</span>
                        {% endfor %}
                    </span>
                </li>

            </ul>
        </div>

        <div class="typesPokemon">
            <p>Type(s)</p>
            {% for type in pokemon.types %}
                <span class="type" style="color:{{ type.color }}; background-color: {{ type.backgroundColor }};">
                {{ type.name }}
            </span>
            {% endfor %}
        </div>

        <div class="weakness">
            <p>Faiblesse(s)</p>
            {% for weakness in pokemon.weaknesses %}
                <span class="type" style="color:{{ weakness.color }}; background-color: {{ weakness.backgroundColor }};">
                            {{ weakness.name }}
                        </span>
            {% endfor %}
        </div>
    </div>

    <div class="evolution">
        <h4>Évolutions</h4>
        {% if evolutionLine|length > 1 %}
            <div class="evolution-chain">
                {% for evo in evolutionLine %}
                    <div class="evolution-stage {% if evo.id == pokemon.id %}active{% endif %}">
                        <a href="{{ path('pokemon_show', { id: evo.id }) }}">
                            <img src="{{ asset('/images/pokemon/' ~ evo.image) }}" alt="{{ evo.name }}">
                            <p>{{ evo.name }}<br>N°{{ '%04d'|format(evo.numero) }}</p>
                        </a>
                    </div>
                    {% if not loop.last %}
                        <div class="evo-arrow">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p class="no-evolution">Ce Pokémon n’a pas d’évolution.</p>
        {% endif %}
    </div>


</div>


</div>

{% endblock %}