{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/search.js') }}"></script>
    <script src="{{ asset('js/favorite.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="containerPokemons">
        {% for pokemon in pokemons %}
            <div class="pokecard" data-id="{{ pokemon.id }}">
                {% if app.user %}
                    <div class="fav" data-id="{{ pokemon.id }}" onclick="toggleFavorite(this)">
                        <i class="fa-heart {{ pokemon.id in favoritePokemonIds ? 'fa-solid' : 'fa-regular' }}" style="color: #2d3d5c;"></i>
                    </div>
                {% endif %}

                <a href="{{ path('pokemon_show', { id: pokemon.id }) }}">
                    <img src="{{ asset('/images/pokemon/' ~pokemon.image) }}" alt="{{ pokemon.name }}" width="150">
                    <div class="num">N°{{ '%04d'|format(pokemon.numero) }}</div>
                    <h4 class="card-title">{{ pokemon.name }}</h4>
                    <div class="types">
                        {% for type in pokemon.types %}
                            <span class="type" style="color:{{ type.color }}; background-color: {{ type.backgroundColor }};">
                                {{ type.name }}
                            </span>
                        {% endfor %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
